#processGrid {
    display: grid;
    gap: 1rem;
    grid-template-areas: "step1 step2"
        "step3 step2"
        "step4 step2";
}

#step1 {
    grid-area: step1;
}

#step2 {
    grid-area: step2;
}

#step3 {
    grid-area: step3;
}

#step4 {
    grid-area: step4;
}